.first-selection {
    width: 100vw;
    /* 화면 너비에 맞게 설정 */
    height: 100vh;
    /* 화면 높이에 맞게 설정 */
    flex-shrink: 0;
    background-image: url("./images/MainBackground.png");
    /* 배경 이미지 설정 */
    background-size: cover;
    /* 배경 이미지를 화면에 맞게 조정 */
    background-position: center;
    /* 배경 이미지를 가운데로 정렬 */
    background-repeat: no-repeat;
    /* 배경 이미지 반복 방지 */
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
}

.Mainpages {
    width: 100vw;
    /* 화면 너비에 맞게 설정 */
    height: 100vh;
    /* 화면 높이에 맞게 설정 */
}

.container {
    width: 18.9375rem;
    height: 38.125rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.quote-box {
    width: 18.9375rem;
    height: 15.5rem;
    flex-shrink: 0;
    fill: #f8f3a5;
    flex-direction: column;
    align-items: center;
    margin-top: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* 커서를 포인터로 설정하여 호버 효과 적용 */
    transition: background-color 0.3s ease;
    /* 배경색 변경에 대한 트랜지션 효과 추가 */
    animation: fadeIn 1s ease-in-out;

}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #f6f4a5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3.56rem;
}


.title1 {
    flex-shrink: 0;
    color: #5C2380;
    text-align: center;
    font-family: Pretendard-Black;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.title2 {
    flex-shrink: 0;
    color: #5C2380;
    text-align: center;
    font-family: Pretendard-Black;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.description {
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.YoungSection {
    width: 100%;
    height: 253.4375rem;
    background: #fcf6dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* 추가: 내부 텍스트 정렬 */
}

.story {
    width: 19rem;
    height: 7.5rem;
    flex-shrink: 0;
    color: #000;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4.87rem;
    text-align: left;
}

.BrightDoor1 {
    flex-shrink: 0;
    border-radius: 2.5rem;
    margin-top: 2.63rem;
}

.BrightDoor2 {
    flex-shrink: 0;
    border-radius: 2.5rem;
    margin-top: 21rem;
}

.story2 {
    display: flex;
    width: 15.375rem;
    height: 4.625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #000;

    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 27rem;
}

.story3 {
    display: flex;
    width: 15.375rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 24.56rem;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.story4 {
    width: 15.375rem;
    height: 5.375rem;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Pretendard-Bold;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.DoorButton {
    width: 21.375rem;
    height: 35.625rem;
    flex-shrink: 0;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 2rem;
    transition: opacity 0.5s ease;
    /* 투명도 변경에 대한 트랜지션 효과 추가 */
}

.DoorButton-image {
    width: 14.4375rem;
    height: 34.875rem;
    flex-shrink: 0;
    height: 34rem;
    flex-shrink: 0;
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 외곽선 제거 */
    background-color: transparent;
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("../src/fonts/Pretendard-Bold.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("../src/fonts/Pretendard-Regular.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Light";
    src: url("../src/fonts/Pretendard-Light.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Black";
    src: url("../src/fonts/Pretendard-Black.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.ElderSection {
    height: 329.125rem;
    background: #5e5773;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story-elder1,
.story-elder2,
.story-elder3,
.story-elder4 {
    color: #fff;
    font-family: Pretendard-Light;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.3rem;
    /* 줄간격을 2배로 설정 */
    flex-shrink: 0;
}

.story-elder1 {
    width: 20.6875rem;
    height: 7.875rem;
    margin-top: 5.44rem;
}

.story-elder2 {
    width: 17rem;
    height: 8.9375rem;
    margin-top: 0rem;
}

.story-elder3 {
    width: 19.625rem;
    height: 8.6875rem;
    margin-top: 1.75rem;
}

.story-elder4 {
    width: 18rem;
    height: 8.125rem;
    flex-shrink: 0;
    margin-top: 30.81rem;
    margin-bottom: 30.81rem;
}

.Snow {
    width: 21.625rem;
    height: 36.5625rem;
    flex-shrink: 0;
    margin-bottom: 32.4rem;
}

.Hand {
    width: 22.625rem;
    height: 37.5625rem;
    flex-shrink: 0;
    margin-top: 40rem;
}

.HandButton {
    max-width: 100%;
    /* 부모 요소의 가로 크기에 맞게 확대 */
    max-height: 100%;
    /* 부모 요소의 세로 크기에 맞게 확대 */
    width: auto;
    /* 가로 크기를 자동으로 조정하여 비율 유지 */
    height: auto;
    /* 세로 크기를 자동으로 조정하여 비율 유지 */
    flex-shrink: 0;
}

.story2-elder {
    display: flex;
    width: 15.375rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 24.56rem;
    color: #ffffff;

    text-align: center;
    font-family: Pretendard;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.story3-elder {
    width: 15.375rem;
    height: 5.375rem;
    flex-shrink: 0;
    color: #ffffff;
    text-align: center;
    font-family: Pretendard;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.FirstPage {
    display: flex;
    height: 52.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcf6dd;
}

.Success {
    display: flex;
    height: 52.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcf6dd;
}

.BigLogoButton {
    width: 19.75rem;
    height: 8.875rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 외곽선 제거 */
    background-color: transparent;
    /* 배경색을 투명하게 설정 */
}



.BigLogoAnimation {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.MidiumLogoButton {
    width: 18.875rem;
    height: 5.9375rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 외곽선 제거 */
    background-color: transparent;
    /* 배경색을 투명하게 설정 */
}

.BigLogo {
    width: 19.75rem;
    height: 8.875rem;
    flex-shrink: 0;
}

.MidiumLogo {
    width: 18.875rem;
    height: 5.9375rem;
    flex-shrink: 0;
}

.WelomeMessage {
    display: flex;
    width: 17rem;
    height: 7rem;
    padding: 0rem 1.006rem 0.30256rem 0rem;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    text-align: left;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.WelomeMessage2 {
    width: 17rem;
    height: 14rem;
    padding: 0rem 1.006rem 0.30256rem 0rem;
    align-items: center;
    flex-shrink: 0;
    color: #000;
    text-align: left;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2rem;
}

.WelomeMessage3 {
    width: 17rem;
    height: 14rem;
    padding: 0rem 1.006rem 0.30256rem 0rem;
    justify-content: center;
    flex-shrink: 0;
    color: #b4b4b4;
    text-align: left;
    font-family: Pretendard;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Explaination-Container {
    display: flex;
    /* 플렉스박스 사용 */
    justify-content: center;
    /* 가로축 중앙 정렬 */
    align-items: center;
    /* 세로축 중앙 정렬 */
}

.Explaination {
    width: 24.375rem;
    height: 52.8125rem;
    background-size: cover;
    /* 배경 이미지가 컨테이너에 맞게 조정됨 */
    background-position: center center;
    /* 배경 이미지가 중앙에 위치 */
    background-repeat: no-repeat;
    /* 배경 이미지가 반복되지 않음 */
    display: flex;
    /* 플렉스박스 사용 */
    justify-content: center;
    /* 가로축 중앙 정렬 */
    align-items: center;
    /* 세로축 중앙 정렬 */
}

.Next {
    background: #FFF;
    width: 24.375rem;
    height: 7rem;
    flex-shrink: 0;
    margin-top: 43rem;
    color: #B049F0;
    align-items: center;
    /* 세로축 중앙 정렬 */
    text-align: center;
    font-family: Pretendard-bold;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: transparent;
    cursor: pointer;
}

.tab-container {
    width: 100%;
    /* 화면의 전체 너비를 차지하도록 설정 */
    height: 5.07813rem;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* 화면에 고정 */
    bottom: 0;
    /* 화면의 바닥에 위치 */
    background-color: white;
    /* 배경색 추가 */
    z-index: 1000;
    /* 다른 요소 위에 위치 */
}

.tabs {
    display: flex;
    justify-content: center;
    /* 탭 버튼들을 가로로 중앙 정렬 */
    width: 24rem;
    /* 탭 버튼들이 모이는 너비 */
    align-items: center;
    /* 세로 중앙 정렬 */
}

.tab-button {
    width: 3rem;
    height: 5.07813rem;
    flex-shrink: 0;
    flex: 1;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    /* 버튼 사이에 간격 추가 */
    outline: none;
    /* 버튼 클릭 시 나타나는 아웃라인 제거 */
    padding: 0;
    /* 버튼의 기본 패딩 제거 */
}

.tab-button img {
    width: 1.7rem;
    height: 1.7rem;
    opacity: 0.5;
    /* 초기 투명도 50% */
    transition: opacity 0.3s;
    /* 투명도 전환 애니메이션 */
}

.tab-button:hover img {
    opacity: 1;
    /* 호버 시 투명도 100% */
}

.tab-button.active img {
    opacity: 1;
    /* 선택된 버튼의 투명도 100% */
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.active {
    display: block;
}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F7F7F7;
    align-items: center;
}

.HomeComponent1 {
    width: 24.375rem;
    height: 20.25rem;
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #FFF;
    justify-content: center;
}

.HomeComponent1-2 {
    width: 23rem;
    height: 10rem;
    flex-shrink: 0;
    display: flex;
    /* 요소들을 가로로 배치 */
    flex-direction: row;
    justify-content: space-between;
    /* 요소들 사이에 동일한 간격을 둠 */
    /* justify-content: space-around; /* 양 끝에 반만큼의 간격을 둠 */
    align-items: center;
    /* 가로 중앙 정렬 */
}


.MyPoints {
    width: 8rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    /* 요소들을 세로로 배치 */
    justify-content: center;
    /* 세로 가운데 정렬 */
    align-items: center;
    /* 가로 가운데 정렬 */
    margin-bottom: 20px;
}


.MyPoints1 {
    display: flex;
    width: 5.25rem;
    height: 1.3125rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #5C2380;
    text-align: center;
    font-family: Pretendard;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 1.3125rem */
}

.MyPoints2 {
    display: flex;
    width: 5.25rem;
    height: 1.5625rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Pretendard-Bold;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 1.875rem */
}

.MissionStatus {
    width: 9.1875rem;
    height: 9.1875rem;
    flex-shrink: 0;
}

.mission {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 0.9375rem */
    margin-top: 1.4rem;
}

.HomeComponent2 {
    width: 24.375rem;
    height: 30.125rem;
    display: flex;
    flex-direction: column;
    /* 내부 요소들을 세로로 배치 */
    align-items: center;
    /* 가로 중앙 정렬 */
    background-color: white;
    margin-top: 0.2rem;
}

.TodayHarmonyStory {
    width: 18.375rem;
    height: 2.1875rem;
    flex-shrink: 0;
    color: #5C2380;
    text-align: center;
    font-family: Pretendard-Bold;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 1rem;
    margin-top: 3rem;
}

.StoryComponent {
    width: 15.3125rem;
    height: 13.6875rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* 내부 요소들을 세로로 배치 */
    align-items: center;
    /* 가로 중앙 정렬 */
    justify-content: center;
    padding: 5%;
    background-repeat: no-repeat;
    /* 배경 이미지 반복 안 함 */
    background-size: cover;
    /* 배경 이미지가 요소 크기에 맞게 조정 */
    background-position: center;
    /* 배경 이미지가 중앙에 위치하도록 설정 */
}

.HarmonyStoryTitle {
    width: 11.4375rem;
    height: 10.375rem;
    flex-shrink: 0;
    color: #5C2380;
    font-family: Pretendard-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: unset;
    cursor: pointer;

}


.HarmonyStoryTitle:hover {
    text-decoration: underline;
}

.PostModal {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: bottom 0.3s ease-in-out;
}

.PostModal.show {
    bottom: 0;
}

.PostButton {
    width: 24.375rem;
    height: 3.965rem;
    flex-shrink: 0;
    border: transparent;
    margin-top: 2.8rem;
}